html {
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

.navbar--mobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  box-sizing: border-box;
  border: 3px dotted darkgreen;
}

  .navbar--mobile__button {

  }

.navbar--desktop {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 4rem;
  padding: 0rem 1rem 0rem 1.5rem;
  box-sizing: border-box;
  border: 3px solid darkgreen;
}

  .navbar--desktop__logo--img {
    height: 2rem;
  }

  .navbar--desktop__logo--text {

  }

  .navbar--desktop__links {
    margin-left: auto;
  }

    .navbar--desktop__link--text {
      margin: 0rem 0.5rem 0rem 0.5rem;
    }

.banner__img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 3px dotted gold;
}

.intro {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  border: 3px dotted pink;
}

  .intro__text--primary {
    word-wrap: break-word;
    font-size: calc(1.25rem + 2.5vw);
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .intro__text--secondary {
    word-wrap: break-word;
    font-size: calc(0.75rem + 2.5vw);
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .intro__button {
  }

  .intro__button--link {
    display: block;
    margin: 1rem 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    box-sizing: border-box;
    border: 3px dotted red;
    background-color: lightgray;
  }

    .intro__button--text {
      text-align: center;
      font-size: calc(0.75rem + 2.5vw);
    }

.orientation {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border: 3px dotted red;
}

  .orientation__img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .orientation__text--primary {
    word-wrap: break-word;
    font-size: calc(1.25rem + 2.5vw);
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .orientation__text--secondary {
    word-wrap: break-word;
    font-size: calc(0.75rem + 2.5vw);
    padding: 1rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .orientation__link {
    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

    .orientation__link--text {
      font-size: calc(0.75rem + 2.5vw);
    }

.campus {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border: 3px dotted blue;
}

  .campus__img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .campus__text--primary {
    word-wrap: break-word;
    font-size: calc(1.25rem + 2.5vw);
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .campus__text--secondary {
    word-wrap: break-word;
    font-size: calc(0.75rem + 2.5vw);
    padding: 1rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .campus__link {

    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

    .campus__link--text {
      font-size: calc(0.75rem + 2.5vw);
    }

.guest {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border: 3px dotted green;
}

  .guest__img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .guest__text--primary {
    word-wrap: break-word;
    font-size: calc(1.25rem + 2.5vw);
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .guest__text--secondary {
    word-wrap: break-word;
    font-size: calc(0.75rem + 2.5vw);
    padding: 1rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .guest__link {

    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

    .guest__link--text {
      font-size: calc(0.75rem + 2.5vw);
    }

.subjects {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem 2rem 1rem;
  box-sizing: border-box;
  border: 3px dotted darkred;
}

  .subjects__title {
    text-align: center;
    font-size: calc(1.5rem + 2.5vw);
    font-weight: bold;
    padding: 1rem 0rem 1rem 0rem;
    box-sizing: border-box;
  }

  .subjects__button {
    margin: 0.25rem 0rem 0.25rem 0rem;
    box-sizing: border-box;
    background-color: gray;
  }

  .subjects__button--text {
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-sizing: border-box;
    text-align: center;
    font-size: calc(0.75rem + 2.5vw);
  }

.thesis {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem 1.5rem 0rem;
  box-sizing: border-box;
  border: 3px dotted purple;
}

  .thesis__title {
    padding: 1rem 0rem 1rem 0rem;
    box-sizing: border-box;
    text-align: center;
    font-size: calc(1.5rem + 2.5vw);
    font-weight: bold;
  }

.footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  border: 3px dotted blue;
}

  .footer__text {
    text-align: center;
    font-size: calc(0.5rem + 2.5vw);
  }

@media only screen and (max-width: 768px) {
  /* hide this content in mobile view */
  .navbar--desktop {
    display: none;
  }
  .quote {
    display: none;
  }
}
