html {
  font-size: 16px;
}

div, section, nav {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none !important;
  color: rgb(0,0,0);
}
a>*:hover {
  text-decoration: underline;
}
.highlight {
  transition: background-color 0.25s linear 0s;
}
.highlight:hover {
  background-color:rgb(231,188,41);
}
.navbar-m_button{
  padding: 0.25rem 0.25rem;
  border-radius: 12px;
  transition: background-color 0.25s linear 0s;
}
.text-1 {
  font-family: 'Quattrocento', serif;
  font-size: calc(1.0rem + 2.5vw);
  font-weight: bold;
}
.text-2 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: calc(0.5rem + 2.5vw);
}
.text-3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: calc(0.75rem + 1vw);
}
@media only screen and (min-width: 768px) {
  .text-1 {
    font-size: calc(2.5rem + 1vw);
  }
  .text-2 {
    font-size: calc(1.25rem + 0.75vw);
  }
  .text-3 {
    font-size: calc(0.75rem + 0.5vw);
  }
}

/**NAVBAR**/
.navbar-m {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
}
.navbar {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 4rem;
  padding: 0rem 1rem 0rem 1.5rem;
}
.navbar_logo-container {
  height: 2rem;
}
.navbar_title {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  font-size: 1.75rem;
  color: rgba(0,0,0,0.5);
}
.navbar_links-container {
  margin-left: auto;
}
.navbar_link {
  font-weight: bold;
  padding: 0rem 0.35rem 0rem 0.35rem;
  margin: 0rem 0.15rem 0rem 0.15rem;
}
/** FIRST BLOCK **/
.intro_row-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem 0rem;
  background-color: rgba(128,158,194,0.5);
}
.intro_img-container {
  width: 60%;
  margin: 0rem 0.75rem 0rem 1.5rem;
}
.intro_col-container {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0rem 1.5rem 0rem 0.75rem;
}
.intro_text {
  margin: 2rem 1rem 0rem 1rem;
}
.intro_button {
  display: block;
  background-color: rgb(165,181,146);
  padding: 0.5rem 0rem 0.5rem 0rem;
  margin: 1rem 1rem;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.25s linear 0s;
}
/** SECOND BLOCK **/
.info_row-container {
  display: flex;
  flex-flow: row nowrap;
}
.info_left_col-container {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 1.5rem;
}
.info_text1 {
  padding: 2rem 0rem 1.5rem 0rem;
}
.info_text2 {
  line-height: 2.5rem;
}
.info_text3 {
  padding: 2rem 0rem;
}
.info_right_col-container {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem 2rem 0rem;
}
.orientation_row-container, .campus_row-container, .guest_row-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1rem;
}
.orientation_col-container, .campus_col-container, .guest_col-container {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.orientation_img-container, .campus_img-container, .guest_img-container {
  width: 35%;
}
.orientation_text1, .campus_text1, .guest_text1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}
.orientation_text2, .campus_text2, .guest_text2 {
  padding: 0.5rem 0.5rem;
  line-height: 1.25rem;
}
.orientation_text3, .campus_text3, .guest_text3 {
  padding: 0.5rem 0.5rem;
}
.orientation_link, .campus_link, .guest_link {
  color: rgb(128,158,194);
}
.fa-long-arrow-right {
  margin: 0 0.25rem;
}
/** THIRD BLOCK **/
.subjects_col-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem;
  background-color: rgba(128,158,194,0.5);
}
.subjects_title {
  text-align: center;
  padding: 1rem 0rem;
}
.subjects_row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0rem 3rem;
}
.subject_block-col-container {
  flex: 0 1 33%;
  min-width: 25%;
  word-wrap: break-word;
  display: flex;
  flex-flow: column nowrap;
  padding: 0rem 0rem 1.5rem 0rem;
  margin: 1rem 1rem;
  background-color: rgb(255,255,255);
}
.subject_text1 {
  font-weight: bold;
  padding: 1rem 1rem 0rem 1rem;
}
.subject_text2 {
  padding: 0.5rem 1rem 0rem 1rem;
  line-height: 1.375rem;
}
/** FOURTH BLOCK **/

.thesis_col-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0rem 0rem 2rem 0rem;
}

.thesis_title {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0rem;
}

.thesis_row-container {
  display: flex;
  flex-flow: row nowrap;
}

.thesis_left-block-container {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0rem 1.5rem;
}

.thesis_video-text1 {
  padding: 1.5rem 0rem 0.5rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.thesis_video-text2 {
  line-height: 1.75rem;
}
.thesis_right-block-container {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.thesis_secondary-row-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1rem;
}

.thesis_secondary-img-container {
  width: 35%;
}

.thesis_secondary-text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 65%;
  padding: 0rem 1rem;
}

.thesis_secondary-text1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0rem 0rem 1rem 0rem;
}
.thesis_secondary-text2{
  line-height: 1.25rem;
}

/** FOOTER **/
.footer_row-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}

.footer_links-container {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
}

.footer_link-text {
  font-weight: bold;
  padding: 0rem 0.35rem 0rem 0.35rem;
  margin: 0rem 0.15rem 0rem 0.15rem;
}

/**PHONE VIEW**/
@media only screen and (max-width: 768px) {
  .navbar, .orientation_img, .campus_img, .guest_img, .subject_block-img, .subject_text2, .info_left_col-container, .thesis_right-block-container, .footer_links-container {
    display: none;
  }
  .intro_row-container {
    display: block;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }
  .intro_img-container {
    display: block;
    width: 100%;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }
  .intro_col-container {
    width: 100%;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }
  .orientation_row-container, .campus_row-container, .guest_row-container, .subjects_row-container {
    flex-flow: column nowrap;
  }
  .info_right_col-container, .orientation_col-container, .campus_col-container, .guest_col-container, .orientation_img-container, .campus_img-container, .guest_img-container, .thesis_left-block-container {
    width: 100%;
  }

}
/**DESKTOP VIEW**/
@media only screen and (min-width: 768px) {
  .navbar-m, .orientation_img-m, .campus_img-m, .guest_img-m {
    display: none;
  }
}
