html {
  font-size: 16px;
}

body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  box-sizing: border-box;
  border: 1px dotted black;
}

.banner__img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px dotted black;
}

.intro {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 1px dotted red;
}

  .intro__text--primary {
    width: 100%;
    word-wrap: break-word;
    font-size: 2rem;
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .intro__text--secondary {
    width: 100%;
    word-wrap: break-word;
    font-size: 1.5rem;
    padding: 2rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .intro__button {
    width: 100%;
  }

  .intro__button--link {
    display: block;
    margin: 1rem 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    box-sizing: border-box;
    border: 3px dotted red;
    background-color: lightgray;
  }

    .intro__button--text {
      text-align: center;
    }

.orientation {
  width: 100%
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border: 1px dotted black;
}

  .orientation__img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .orientation__text--primary {
    width: 100%;
    word-wrap: break-word;
    font-size: 2rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }

  .orientation__text--secondary {
    width: 100%;
    word-wrap: break-word;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border: 1px dotted black;
  }
